# =============== #
# Unity generated #
# =============== #
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ============ #
# Plugins #
# ============ #
Examples/
Control-Freak-Demos/

# ============ #
# High memory assets to avoid repo bloat. #
# ============ #
Characters/
Assets/Characters.meta
Assets/Models/Environment/
Assets/Models/Environment.meta
Assets/Models/Characters.meta
Assets/Particle Systems/KY_effects/
Assets/Particle Systems/FX_Kandol_Pack/
Assets/Particle Systems/Fx Explosion Pack/
Assets/Particle Systems/Prefabs/
Assets/Particle Systems/FX_Kandol_Pack.meta
Assets/Particle Systems/Fx Explosion Pack.meta
Assets/Particle Systems/KY_effects.meta
